:root {
  --color-text: #f8f8f2;
  --color-background: #282a36;
  --color-background-alt: #21222c;
  --color-background-secondary: #44475a;
  --color-primary: #bd93f9;
  --color-secondary: #ff79c6;
  --color-accent: #50fa7b;
  --color-dark: #282a36;
  --color-light: #f8f8f2;
  --color-border-light: #6272a4;
  --color-border: #44475a;
  --color-highlight: #6272a4;
  --color-error: #ff5555;
  --color-warning: #f1fa8c;
  --color-info: #8be9fd;
  --color-success: #50fa7b;
  --color-link: #bd93f9;
  --color-link-hover: #ff79c6;
  --base-font-size: 20px;
  --base-line-height: 1.5;
  --base-font-family:
    'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-pixel: 'Press Start 2P', system-ui;
  --base-font-weight: 400;
  --base-font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100dvh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: var(--base-line-height);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  font-style: var(--base-font-style);
  text-decoration: none;
  text-transform: none;
  text-decoration-skip-ink: auto;
  -webkit-text-decoration-skip: ink;
  -moz-text-decoration-skip: ink;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

.font-pixel {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

/* UTILITY CLASSES */
.text-center {
  text-align: center;
}
